<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="pokedexService"
    class="di_bean.pokedex.di.business.service.PokedexServiceImpl"
    autowire="byType" />
    <bean id="pokedexDao"
          class="di_bean.pokedex.di.dataaccess.PokemonDaoImpl"/>
</beans>